<section class="content">
    <div class="card">
        <div class="card-body">
            <table id="table-kelas" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Nama Kelas</th>
                        <th>Institusi Kelas</th>
                        <th>Created by</th>
                        <th>Created at</th>
                        <th>Status Aktif</th>
                    </tr>
                </thead>
                <tbody>
                {% for kelas in kelas_array %}
                    <tr>
                        <td>{{ kelas.kode }}</td>
                        <td>{{ kelas.namaKelas }}</td>
                        <td>{{ kelas.kodeInstitusi }}</td>
                        <td>{{ kelas.createdAt | date('Y-m-d H:i:s') }}</td>
                        <td>{{ kelas.createdBy }}</td>
                        <td><input type="checkbox" name="my-checkbox" {{ kelas.aktif ? 'checked' : '' }}
                                   data-bootstrap-switch
                                   data-on-text="Aktif"
                            ></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</section>